

<div class="d-flex justify-content-center">
  <div class="brand_logo_container">
    <img src="<%= asset_url('i.jpeg') %>" class="brand_logo" alt="Logo">
  </div>
</div>
<div class="d-flex justify-content-center form_container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <%= f.email_field :email, placeholder: "Enter Email Id", autofocus: true, autocomplete: "email", class: "form-control input_user" %>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <%= f.password_field :password, placeholder: "Enter Password", autocomplete: "current-password", class: "form-control input_pass" %>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <%= f.password_field :password_confirmation, placeholder: "Re-Enter Password", autocomplete: "current-password", class: "form-control input_pass" %>
    </div>


    <div class="d-flex justify-content-center mt-3 login_container">
      <%= f.submit "Sign Up", class: "btn login_btn" %>
    </div>

  <% end %>
</div>
<div class="mt-4">
  <div class="d-flex justify-content-center links">
    Don you have an account? <a href="/users/sign_in" class="ml-2">Log In</a>
  </div>
  </div>
</div>
